:root {
  --primary: #00baf2;
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}
 
* {
  font-family: "Lato";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
a {
  text-decoration: none;
}
 
img {
  width: 100%;
}
 
i {
  background-color: var(--main-color);
  color: var(--primary-text-color);
  font-size: 1.5rem;
  padding: 1rem;
}
 
/* Estilo do formulário */
.formulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo dos campos de entrada */
.formulario input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

/* Estilo do botão */
.formulario button {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #007bff; /* Cor de fundo azul */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave */
}

/* Efeito hover no botão */
.formulario button:hover {
  background-color: #0056b3; /* Cor de fundo azul mais escura */
}

/* id */
#header {
  min-height: 90vh;
  background-image: url("../images/hrz-5.jpg");
  background-size: cover;
  background-position: center;
  color: var(--primary);
  margin-bottom: 2rem;
}
 
#header p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--text-color); 
}

#header p1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary); 

}

#header p2{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--text-color); 
}


#inner-header {
  /* padrão linha */
  display: flex;
  /* alinhamento é horizontal, eixo x */
  justify-content: space-between;
  /* alinhamento vertical, eixo y */
  align-items: center;
}
 
#brand {
  background-color: var(--main-color);
  padding: 1rem;
}
 
#navbar {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
  margin-right: 2rem;
}
 
#navbar a {
  color: var(--primary-text-color);
  font-weight: bold;
  padding: 1rem;
}
 
.banner.active {
  opacity: 1; /* banner ativo é mostrado */
}
 
.banner {
  max-width: 45%;
  opacity: 0;
  padding: 4rem;
  position: absolute;
}
 
.banner h2 {
  font-size: 4rem;
  margin-bottom: 1.2rem;
  position: relative;
  z-index: 2;
}
 
.banner p {
  font-size: 1.5rem;
}
 
.square {
  display: block;
  width: 150px;
  height: 150px;
  background-color: var(--main-color);
  position: absolute;
  left: 20px;
  top: 40px;
  z-index: 1;
}
 
.dots {
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 9rem;
  left: 3rem;
}
 
.dot {
  width: 20px;
  height: 20px;
  background-color: var(--secondary-color);
}
 
.dot.active {
  background-color: var(--secondary-bg-color);
}
 
/* Áreas de atuação */
.text-image-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
 
.text-container {
  display: flex;
  flex: 2 1 0;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  font-weight: bold;
}
 
.image-container {
  flex: 1 1 300px;
  position: relative;
}
 
.image-container i {
  position: absolute;
}
 
.section-title {
  color: var(--main-color);
  text-transform: uppercase;
}
 
.section-subtitle {
  color: var(--secondary-text-color);
  font-size: 2rem;
}
 
.btn {
  padding: 1.2rem 1.8rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  background-color: var(--main-color);
  color: var(--primary-text-color);
  align-self: end;
}
 
#other-services {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
 
.service {
  position: relative;
}
 
.service i {
  position: absolute;
  left: 0;
  top: 0;
}
 
.service-info {
  background-color: var(--tertiary-color);
  padding: 2rem 1.4rem;
  min-height: 250px;
}
 
.service h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
 
/* Section about - Sobre nós */
#about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
 
#about-text {
  background-image: url("../images/pattern.png");
  background-size: cover;
  background-position: center;
  color: var(--primary-text-color);
  display: flex;
  flex: 1 1 0;
  /* flex: grow shrink basis. */
  /* grow - define quanto o elemento cresce em relação aos outros. */
  /* shrink - define quando ele encolhe quando não há espaço. */
  /* basis - define o tamanho inicial do elemento antes de aplicar o crescimento e encolhimento. */
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 3rem;
}
 
#about-text .section-subtitle,
#about-text .section-title {
  color: var(--primary-text-color);
}
 
/* Sobre Nós */
#about-text i {
  background-color: transparent;
}
 
.about-description {
  display: flex;
  align-items: center;
}
 
.about-description h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
 
#about-data {
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  padding: 2rem;
}
 
#about-data .data {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: -1px;
  margin-left: -1px;
}
 
#about-data .data i {
  background-color: transparent;
  color: var(--main-color);
  font-size: 4rem;
  padding: 0;
}
 
#about-data .data:first-child {
  border-right: 1px solid var(--secondary-text-color);
  border-bottom: 1px solid var(--secondary-text-color);
}
 
#about-data .data:last-child {
  border-left: 1px solid var(--secondary-text-color);
  border-top: 1px solid var(--secondary-text-color);
}
 
.data .number {
  font-size: 4rem;
  font-weight: 900;
}
 
.data .text {
  text-transform: uppercase;
}
/* ********** */
/* Depoimentos */
#testimonial {
  display: flex;
  align-items: center;
}
 
#testimonial-information {
  padding: 3rem;
}
 
.author img {
  width: 100px;
  height: 100px;
}
 
.author .author-name {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
 
.author .author-job {
  color: var(--secondary-text-color);
}

#team h2 {
  text-align: center; /* Centraliza o texto */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 3rem;

}

.break-line {
  display: block;
}


#team span{
  color: var(--main-color);

}

.employees {
  display: flex;
  justify-content: center; /* Centraliza os funcionários */
  text-align: center; /* Centraliza o texto abaixo das imagens */
}

.employee {
  display: flex;
  flex-direction: column; /* Mantém o texto abaixo da imagem */
  align-items: center; /* Centraliza tudo dentro do bloco */
}

.employee img {
  flex: 1 1 0;
  padding: 1.3rem;
}

.employee-name {
  font-size: 16px;
  font-weight: bold;
  color:var(--main-color); /* Nome em vermelho */
  margin-top: 10px;
  text-transform: uppercase; /* Deixa o nome em caixa alta */
}

.employee-role {
  font-size: 14px;
  color:var(--secondary-text-color); /* Cor padrão para o cargo */
 
}

/* Colaboradores */

.employee {
  display: flex;
}

/* Contato */

#contact {
 background-color: var(--main-color);
 gap: 0;
 padding-bottom: 5rem;
}


#contact-information{
  position: relative;
  text-align: left;
  padding: 3rem;
  flex: 1 1 0;
}
#contact-information .section-subtitle{
  color: var(--primary-text-color);
}

#contact-information i {
  position: absolute;
  top:0;
  left: 0;
  background-color: var(--primary-text-color);
  color: var(--main-color);
  padding: 2rem;
  font-size: 2.5rem;
}

#contact-information form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact-information form input,
#contact-information form textarea {
  flex: 0.5;
  padding: 1rem;
  border: none;
}
#contact-informattion form-control {
  display: flex;
  gap: 1rem;
  
}

#contact-information .btn{
  align-self: start;
  border: 2px solid var(--primary-text-color);  
  font-size: 1.2rem;
  translate: 0.6s;
}

#contact-information .btn:hover {
  background-color: var(--primary-text-color);
  color: var(--main-color);
}
